# Mac .DS_Store files
*.DS_Store

# IDE settings
.idea/
.vscode/

# python files
env/
*.py[cod]

# dotenv files
.env
.django_env
.tornado_env

# media files and generated static files
staticfiles/**
!staticfiles/**/
!README.md

# frontend files
node_modules
frontend/dist/*
!frontend/dist/README.md
